<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ece.cov19">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ExplorePatients"></activity>
        <activity android:name=".UpdatePasswordActivity" />
        <activity android:name=".UpdateInfoActivity" />
        <activity
            android:name=".RequestsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".SearchDonorActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".DashBoardActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".BloodRequestFormActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Phone_verification"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ViewDonorProfileActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ViewPatientProfileActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>